@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
}

@layer base {
  :root {
    color-scheme: dark;
  }
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans antialiased min-h-screen overflow-hidden select-none;
  }
  input, textarea, select, [contenteditable] {
    @apply select-text;
  }
}

/* 自定义滚动条风格 (DevTool style) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-950;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full border-2 border-solid border-zinc-950 hover:bg-zinc-700;
}